.cover {
  padding: 20vh 20px;
  background: #007917;
  color: white;
}

.content {
  background: #B7FF6F;
  padding: 14px 18px 28px 18px;
  color: black;
  margin: 2px;
  border-radius: 8px;
}

.content .example {
  width: 75%;
  height: 75%;
  margin-left: 50px;
  margin-bottom: 15px;
}

.content .example-sm {
  width: 55%;
  height: 55%;
  border-radius: 18px;
}

.content .example-md {
  width: 80%;
  height: 80%;
}

.tag {
  color: red;
}

footer {
  text-align: center;
  padding: 18px 24px;
  margin-top: 20px;
  background: #003E0C;
  color: white;
}